#btnAvancar{
    padding: 10px 20px;
    background-color: #1710a0;
    color: purple;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnAvancar:hover {
    background-color: #2980b9;
  }

.teste{
    -fx-background-color: red;
}

.teste{
    color: green;
}